<div class="container">
    <%- messages() %> 
    <form class="form-inline" method="post" action="/category/add"> 
    <div class="form-group mx-sm-3  mb-2">
        <label for="title" class="sr-only">Password</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Add category">
    </div>
    <button type="submit" class="btn btn-customised mb-2">Save</button>
    </form>
</div>