<div class="container">
    <p class="h3">User profile</p>
    <p class="h5 font-weight-bold">Name</p>
    <p class="font-weight-normal"><%= user.fullname %></p>
    <p class="h5 font-weight-bold">Email</p>
    <p class="font-weight-normal"><%= user.email %></p>
    <p class="h5 font-weight-bold">Gender</p>
    <p class="font-weight-normal"><%= user.gender %></p>
</div>